# Ignore the documentation folder
/doc
Support/PropTester/Darwin-64-debug/PropTester.ofx.bundle/Contents/Info.plist
Support/*/*/Darwin-*-debug
Examples/*/*.bundle
*.o
*.ofx
*.a
*~
ofx-docgen

ofxTestLog.txt
ofxPluginLog.txt
CMakeUserPresets.json
cmake-build.log

build*/
build.log
.cache/

xcuserdata

*.xcworkspace

.DS_Store

*-32-release
*-32-debug
*-64-release
*-64-debug

DerivedData

Documentation/docbook-xsl-*
Documentation/Guide
Documentation/Reference
Documentation/ofxImageEffectSuiteReference.xml
Documentation/ofxInteractSuiteReference.xml
Documentation/ofxMemorySuiteReference.xml
Documentation/ofxMessageSuiteV1Reference.xml
Documentation/ofxMessageSuiteV2Reference.xml
Documentation/ofxOpenGLRenderSuiteReference.xml
Documentation/ofxParametersSuiteReference.xml
Documentation/ofxParametricParamReference.xml
Documentation/ofxProgrammingGuide.html
Documentation/ofxProgrammingReference.html
Documentation/ofxProgressSuiteReference.xml
Documentation/ofxPropertiesReference.xml
Documentation/ofxPropertySuiteReference.xml
Documentation/ofxThreadingSuiteReference.xml
Documentation/ofxTimeLineSuiteReference.xml
Documentation/build
Documentation/doxygen_build

xizvuaie.fcz.txt
